{% extends 'layout.html' %}
{% block title %}{{ folder.name }}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<br>
<a href="{{ url_for('views.home') }}">Homepage</a>
<h1>{{ folder.name }}</h1>

<div class="folder">
    <ul>
        {% for topic in folder.subtopics %}
            <li>
                <a href="{{ url_for('views.topic', topic_id=topic.id) }}">{{ topic.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<form action="{{ url_for('views.add_topic', folder_id=folder.id) }}" method="POST">
    <input type="text" name="title" id="title" placeholder="Topic Name">
    <input type="submit" value="Create Topic">
</form>
{% endblock %}

<script>

</script>