<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Define-IT</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="nav">
            <h1 class="page_title">
                {{ title }}
            </h1>
            <h1 class="title">
                Define-IT
            </h1>
            <div class="nav_links">
                {% if not username %}
                    <a href="{{ url_for('auth.signup') }}" class="nav_btn">Signup</a>
                    <a href="{{ url_for('auth.login') }}" class="nav_btn">Login</a>
                {% else %}
                    <a href="{{ url_for('views.dashboard') }}" class="nav_btn">Dashboard</a>
                    <a href="{{ url_for('auth.logout') }}" class="nav_btn">Logout</a>
                {% endif %}
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span> <!-- &times; is x unicode -->
                            </button>
                        </div>
                    {% else %}
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span> <!-- &times; is x unicode -->
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>