{% extends 'layout.html' %}
{% block title %}Quiz{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<h1>Quiz page</h1>
<h1>{{ topic_id }}</h1>
<div class="quiz">
    <div class="question">
        <div class="question_number">{{ question_number }}</div>
        <div class="question_title">{{ question['question'] }}</div>
        <div class="answers">
            {% if not last_question %}
                <form class="form_{{ index }}" action="{{ url_for('views.record_answer') }}" method="POST">
                    {% for answer in question['answers'] %}
                        <input type="radio" name="answer" id="answer" value="{{ answer }}">
                        <label for="option{{ loop.index }}">{{ answer }}</label>
                    {% endfor %}
                    <input type="submit" value="Next Question">
                </form>
            {% else %}
                <form class="form_{{ index }}" action="{{ url_for('views.quiz_results') }}" method="POST">
                    {% for answer in question['answers'] %}
                        <input type="radio" name="answer" id="answer" value="{{ answer }}">
                        <label for="option{{ loop.index }}">{{ answer }}</label>
                    {% endfor %}
                    <input type="submit" value="Submit Quiz">
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}