{% extends 'layout.html' %}
{% block title %}Topic Name{% endblock %}
{% block head %}
<script>
    var flashcard_count = 1;
    var flashcard_flipped = false;
    var data = "{{ topic.data }}"
    data = data.split(" ")
    data_length = data.length 
    data_length = (data_length - data_length % 2) / 2
    var last_index = data_length - 1;

    function edit(loop_index){
        document.querySelector(`.edit_${loop_index}`).style = "display:block";
        document.querySelector(`#topic_${loop_index}`).style = "display:none";
        document.querySelector("#edit_btn").style = "display:none";
    }

    function exit_edit(loop_index){
        document.querySelector(`.edit_${loop_index}`).style = "display:none";
        document.querySelector(`#topic_${loop_index}`).style = "display:block";
        document.querySelector("#edit_btn").style = "display:block";
    }

    function open_flashcards(){
        document.querySelector(`#card_${flashcard_count}`).style = "display:block";
        document.querySelector(`#cardfront_${flashcard_count}`).style = "display:block";
        document.querySelector(`#cardback_${flashcard_count}`).style = "display:none";
        flashcard_flipped = false;
    }

    function close_flashcards(){
        document.querySelector(`#card_${flashcard_count}`).style = "display:none";
    }

    function next_flashcard(){
        document.querySelector(`#card_${flashcard_count}`).style = "display:none";
        flashcard_count += 1; 
        document.querySelector(`#card_${flashcard_count}`).style = "display:block";
        document.querySelector(`#cardfront_${flashcard_count}`).style = "display:block";
        document.querySelector(`#cardback_${flashcard_count}`).style = "display:none";
        flashcard_flipped = false;
    }

    function previous_flashcard(){
        document.querySelector(`#card_${flashcard_count}`).style = "display:none";
        flashcard_count -= 1; 
        document.querySelector(`#card_${flashcard_count}`).style = "display:block";
        document.querySelector(`#cardfront_${flashcard_count}`).style = "display:block";
        document.querySelector(`#cardback_${flashcard_count}`).style = "display:none";
        flashcard_flipped = false;
    }

    function flip_flashcard(){
        if (flashcard_flipped){
            document.querySelector(`#cardfront_${flashcard_count}`).style = "display:block";
            document.querySelector(`#cardback_${flashcard_count}`).style = "display:none";
            flashcard_flipped = false;
        }else{
            document.querySelector(`#cardfront_${flashcard_count}`).style = "display:none";
            document.querySelector(`#cardback_${flashcard_count}`).style = "display:block";
            flashcard_flipped = true;
        }       
    }
</script>

{% endblock %}

{% block content %}
<br>
<a href="{{ url_for('views.dashboard') }}">Dashboard</a>
<a href="{{ url_for('views.folder', folder_id=topic.folderid) }}">Go Back</a>
<form action="{{ url_for('views.quiz', topic_id=topic.id, question_number=0) }}" method="POST">
    <input type="submit" value="Generate Quiz">
</form>
<div class="topic">
    <ul>
        {% for def in topic.data %}
            <li id="topic_{{ loop.index }}">
                {{ def }} -> {{ topic.data[def] }}
            </li>
            <button onclick="edit('{{ loop.index }}')" id = "edit_btn">Edit</button>
            <div class="edit_{{ loop.index }}" id="edit_div" style="display: none;">
                <form action="{{ url_for('views.edit_def', topic_id=topic.id, def=def) }}" method="POST" onsubmit="exit_edit('{{ loop.index }}')">
                    <input type="text" name="new_key" value="{{ def }}">
                    <input type="text" name="new_value" value="{{ topic.data[def] }}">
                    <input 
                        type="submit" 
                        value="Save" 
                        onclick="exit_edit('{{ loop.index }}')">
                </form>
                <button onclick="exit_edit('{{ loop.index }}')">Cancel</button>
                <form action="{{ url_for('views.delete_def', def=def, topic_id=topic.id ) }}" method="POST">
                    <input type="submit" value="Delete" onclick="exit_edit('{{ loop.index }}')">
                </form>
            </div>
        {% endfor %}
    </ul>

    <button onclick="open_flashcards()">View Flashcards</button>
    <div class="flashcards">
        {% for def in topic.data %}
            <div class="card" id="card_{{ loop.index }}" style="display: none; background-color: green;">
                <button onclick="close_flashcards()">✕</button>
                {% if not loop.first %}
                <button onclick="previous_flashcard()">Previous</button>
                {% endif %}
                {% if not loop.last %}
                    <button onclick="next_flashcard()">Next</button>
                {% endif %}
                <div class="card_front" id="cardfront_{{ loop.index }}" style="display: none; background-color: greenyellow; cursor: pointer;" onclick="flip_flashcard()">{{ def }}</div>
                <div class="card_back" id="cardback_{{ loop.index }}" style="display: none; background-color: hotpink; cursor: pointer;" onclick="flip_flashcard()">{{ topic.data[def] }}</div>
            </div> 
        {% endfor %}
    </div>
</div>

<form action="{{ url_for('views.add_data', topic_id=topic.id) }}", method="POST">
    <input type="text" name="key" placeholder="Concept">
    <input type="text" name="value" placeholder="Definition">
    <input type="submit" value="Add Definition">
</form>
{% endblock %}