{% extends 'layout.html' %}
{% block title %}Topic Name{% endblock %}
{% block head %}
<script>
    function edit(def){
        document.querySelector(`.${def}_edit`).style = "display:block";
        document.querySelector(`#${def}`).style = "display:none";
        document.querySelector("#edit_btn").style = "display:none";
        console.log("edited");
    }

    function exit_edit(def){
        document.querySelector(`.${def}_edit`).style = "display:none";
        document.querySelector(`#${def}`).style = "display:block";
        document.querySelector("#edit_btn").style = "display:block";
    }
</script>

{% endblock %}

{% block content %}
<br>
<a href="{{ url_for('views.home') }}">Homepage</a>
<a href="{{ url_for('views.folder', folder_id=topic.folderid) }}">Go Back</a>
<h1>{{ topic.title }}</h1>
<form action="{{ url_for('views.quiz', topic_id=topic.id, question_number=0) }}" method="POST">
    <input type="submit" value="Generate Quiz">
</form>
<div class="topic">
    <ul>
        {% for def in topic.data %}
            <li id="{{ def }}">
                {{ def }} -> {{ topic.data[def] }}
            </li>
            <button onclick="edit('{{ def }}')" id = "edit_btn">Edit</button>
            <div class="{{ def }}_edit" id="edit_div" style="display: none;">
                <form action="{{ url_for('views.edit_def', topic_id=topic.id, def=def) }}" method="POST" onsubmit="exit_edit('{{ def }}')">
                    <input type="text" name="new_key" value="{{ def }}">
                    <input type="text" name="new_value" value="{{ topic.data[def] }}">
                    <input 
                        type="submit" 
                        value="Save" 
                        onclick="exit_edit('{{ def }}')">
                </form>
                <button onclick="exit_edit('{{ def }}')">Cancel</button>
                <form action="{{ url_for('views.delete_def', def=def, topic_id=topic.id ) }}" method="POST">
                    <input type="submit" value="✕" onclick="exit_edit('{{ def }}')">
                </form>
            </div>
        {% endfor %}
    </ul>
</div>

<form action="{{ url_for('views.add_data', topic_id=topic.id) }}", method="POST">
    <input type="text" name="key" placeholder="Concept">
    <input type="text" name="value" placeholder="Definition">
    <input type="submit" value="Add Definition">
</form>
{% endblock %}